*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.classpath
.project
.mtj.tmp
.vscode
.settings

/.idea

maven-repository
mvn-clone
build
captures
gen
out
target

*.class
*.txt
*.ear
*.jar
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
*.apk